.slider-articles-list
  .slider-articles-item
    .slider-articles-item--wrapper
      .slider-image-articles
        img.slider-articles-img(src='assets/img/articles/slide01.jpg', srcset="assets/img/articles/slide01@2x.jpg 2x, assets/img/articles/slide01@3x.jpg 3x" alt='')
      .info-slider
        .slider-cat-articles
          p.slider-articles-cat Социальная ответственность
        .slider-articles-title
          h2.slider-title-article 6 способов от Джонсон и Джонсон, которые помогут сохранить безопасность детей
        a.slider-articles-more
          p.slider-more-article Читать
          .more-img
  .slider-articles-item
    .slider-articles-item--wrapper
      .slider-image-articles
        img.slider-articles-img(src='assets/img/articles/slide02.jpg', srcset="assets/img/articles/slide02@2x.jpg 2x, assets/img/articles/slide02@3x.jpg 3x" alt='')
      .info-slider
        .slider-cat-articles
          p.slider-articles-cat Социальная ответственность
        .slider-articles-title
          h2.slider-title-article 6 способов от Джонсон и Джонсон, которые помогут сохранить безопасность детей
        a.slider-articles-more
          p.slider-more-article Читать
          .more-img
  .slider-articles-item
    .slider-articles-item--wrapper
      .slider-image-articles
        img.slider-articles-img(src='assets/img/articles/slide01.jpg', srcset="assets/img/articles/slide01@2x.jpg 2x, assets/img/articles/slide01@3x.jpg 3x" alt='')
      .info-slider
        .slider-cat-articles
          p.slider-articles-cat Социальная ответственность
        .slider-articles-title
          h2.slider-title-article 6 способов от Джонсон и Джонсон, которые помогут сохранить безопасность детей
        a.slider-articles-more
          p.slider-more-article Читать
          .more-img
  .slider-articles-item
    .slider-articles-item--wrapper
      .slider-image-articles
        img.slider-articles-img(src='assets/img/articles/slide01.jpg', srcset="assets/img/articles/slide01@2x.jpg 2x, assets/img/articles/slide01@3x.jpg 3x" alt='')
      .info-slider
        .slider-cat-articles
          p.slider-articles-cat Социальная ответственность
        .slider-articles-title
          h2.slider-title-article 6 способов от Джонсон и Джонсон, которые помогут сохранить безопасность детей
        a.slider-articles-more
          p.slider-more-article Читать
          .more-img  