ul.news-list
  li.news-item.first-news
    .news-image
        img.img-news(src="assets/img/news/mainnews.jpg", srcset="assets/img/news/mainnews@2x.jpg 2x, assets/img/news/mainnews@3x.jpg 3x" alt="")
    .news-info
      .news-date
        time.date-news(datetime="2017-10-03") 03 октября, 2017
      .news-title
        a.title-link(href="")
          h2.title-news Юлия Маркова вошла в топ-25 женщин-CEO российского бизнеса по версии РБК
      a.more-news
        p.more-link-news Читать
        .more-img-news
  li.news-item
    .news-image
      img.news-img(src="assets/img/news/news01.jpg", srcset="assets/img/news/news01@2x.jpg 2x, assets/img/news/news01@3x.jpg 3x" alt="")
    .news-date
      time.date-news(datetime="2017-10-03") 03 октября, 2017
    .news-title
      a.title-link(href="")
        h2.title-news Дуглас Уоллес стал лауреатом Премии Пола Янссена за достижения в области биомедицинских исследований...
    a.more-news
      p.more-link-news Читать
      .more-img-news
  li.news-item
    .news-image
      img.news-img(src="assets/img/news/news02.jpg", srcset="assets/img/news/news02@2x.jpg 2x, assets/img/news/news02@3x.jpg 3x" alt="")
    .news-date
      time.date-news(datetime="2017-10-03") 03 октября, 2017
    .news-title
      a.title-link(href="")
        h2.title-news Компания «Янссен» запускает сайт www.schizophrenia24x7.ru в помощь пациентам с шизофренией...
    a.more-news
      p.more-link-news Читать
      .more-img-news
  li.news-item
    .news-image
      img.news-img(src="assets/img/news/news03.jpg", srcset="assets/img/news/news03@2x.jpg 2x, assets/img/news/news03@3x.jpg 3x" alt="")
    .news-date
      time.date-news(datetime="2017-10-03") 03 октября, 2017
    .news-title
      a.title-link(href="")
        h2.title-news «Джонсон & Джонсон» представляет новое направление CERENOVUS
    a.more-news
      p.more-link-news Читать
      .more-img-news
  li.news-item
    .news-image
      img.news-img(src="assets/img/news/news04.jpg", srcset="assets/img/news/news04@2x.jpg 2x, assets/img/news/news04@3x.jpg 3x" alt="")
    .news-date
      time.date-news(datetime="2017-10-03") 03 октября, 2017
    .news-title
      a.title-link(href="")
        h2.title-news «Янссен» объявляет об изменениях в руководстве компании в России и СНГ
    a.more-news
      p.more-link-news Читать
      .more-img-news
a.more-section
  p.more-link Все новости
  .more-img
          