/*
* Общие настройки страницы
*/

.wrapper {
    @include flex-column;
    height: 100%;
    overflow-x: hidden;
}

.wrapper .active-main-menu .main-menu-menu {
    overflow: hidden;
}

@media all and (max-width: 340px) {
    .wrapper .active-main-menu .main-menu-menu {
        overflow-y: auto;
    }
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.wrapper-content {
    max-width: 1160px;
    margin: 0 auto;
    width: inherit;
    height: inherit;
}