.footer-top
  .wrapper-content.footer-wrapper
    .info.footer-info
      ul.info-list
        li.info-item
          a.info-link(href="#", target="_blank") Условия использования 
        li.info-item
          a.info-link(href="#", target="_blank") Политика Конфиденциальности 
        li.info-item
          a.info-link(href="#", target="_blank") Поставки продукции
        li.info-item
          a.info-link(href="#", target="_blank") Для дистрибьюторов компании        
    .social.footer-social
      .follow-me Следите за нами
      ul.social-list
        li.social-item
          a.social-link(href="#", target="_blank")
            .social-ico.icon-jnj
        li.social-item
          a.social-link(href="#", target="_blank")
            .social-ico.icon-kn
        li.social-item
          a.social-link(href="#", target="_blank")
            .social-ico.icon-twitter
        li.social-item
          a.social-link(href="#", target="_blank")
            .social-ico.icon-facebook
        li.social-item
          a.social-link(href="#", target="_blank")
            .social-ico.icon-youtube
        li.social-item
          a.social-link(href="#", target="_blank")
            .social-ico.icon-gplus
.footer-bottom
  .wrapper-content.footer-wrapper
    .logo.footer-logo
      a(href="")
        img(src="assets/img/logo.png", srcset="assets/img/logo@2x.png 2x,assets/img/logo@3x.png 3x" alt="")
    .copyright.footer-copyright
      p.copyright-text © ООО «Джонсон & Джонсон», Россия, 2017 г.
      p.copyright-text Этот сайт принадлежит компании ООО «Джонсон & Джонсон», которая полностью отвечает за его содержимое.
      p.copyright-text Сайт ориентирован на физических и юридических лиц из России.
      p.copyright-text Последнее обновление: 26 сентября 2017 г.