.slider-header
  .slider-header-item
    .slider-header-item--wrapper
      .slider-image-header
        img.slider-header-img(src='assets/img/slider/slider01.jpg', srcset="assets/img/slider/slider01@2x.jpg 2x, assets/img/slider/slider01@3x.jpg 3x" alt='')
      .wrapper-content
        .info-slider-header
          .slider-header-title
            h2.slider-title-header Лекарственные средства
          a.slider-header-more
            p.slider-more-header Подробнее
            .more-img-header
  .slider-header-item
    .slider-header-item--wrapper
      .slider-image-header
        img.slider-header-img(src='assets/img/slider/slider01.jpg', srcset="assets/img/slider/slider01@2x.jpg 2x, assets/img/slider/slider01@3x.jpg 3x" alt='')
      .wrapper-content
        .info-slider-header
          .slider-header-title
            h2.slider-title-header Лекарственные средства
          a.slider-header-more
            p.slider-more-header Подробнее
            .more-img-header
  .slider-header-item
    .slider-header-item--wrapper
      .slider-image-header
        img.slider-header-img(src='assets/img/slider/slider01.jpg', srcset="assets/img/slider/slider01@2x.jpg 2x, assets/img/slider/slider01@3x.jpg 3x" alt='')
      .wrapper-content
        .info-slider-header
          .slider-header-title
            h2.slider-title-header Лекарственные средства
          a.slider-header-more
            p.slider-more-header Подробнее
            .more-img-header         
.wrapper-content
  .menu-wrapper
    .section-main-menu
              .main-menu-logo
                a.logo-link(href="#")
                  img.logo-img(src="assets/img/logo-mini.png", alt="")
                  img.logo-img-active-menu(src="assets/img/logo.png", alt="")
              .main-menu
                .main-menu-icon
                  a.ico-link.menu-icon.icon-menu(href="")
                  a.ico-link.search-icon.icon-search(href="")
                nav.main-menu-menu
                  .menu-section
                    p.menu-section-title Компания
                    ul.menu-list
                      li.menu-item
                        a.menu-link.active-menu-link(href="") Наше Кредо
                      li.menu-item
                        a.menu-link(href="") История
                      li.menu-item
                        a.menu-link(href="") Новости
                      li.menu-item
                        a.menu-link(href="") Корпоративная культура
                      li.menu-item
                        a.menu-link(href="") Социальная ответственность
                      li.menu-item
                        a.menu-link(href="") Кодекс делового поведения
                      li.menu-item
                        a.menu-link(href="") Карьера
                  .menu-section
                    p.menu-section-title Подразделения
                    ul.menu-list
                      li.menu-item
                        a.menu-link(href="") Потребительские товары
                      li.menu-item
                        a.menu-link(href="") Лекарственные средства
                      li.menu-item
                        a.menu-link(href="") Изделия медицинского назначения и оборудование   
                    ul.sub-menu-list
                      li.menu-item.sub-menu
                        a.menu-link.sub-menu-link.active-menu-link(href="") Хирургия
                      li.menu-item.sub-menu
                        a.menu-link.sub-menu-link(href="") Травматология и ортопедия
                      li.menu-item.sub-menu
                        a.menu-link.sub-menu-link(href="") Кардиология/другие специальности
                      li.menu-item.sub-menu
                            a.menu-link.sub-menu-link(href="") В помощь пациентам
                  .menu-section
                      p.menu-section-title Контакты
                      ul.sub-menu-list
                        li.menu-item
                          a.menu-link(href="")  Центральный офис
                        li.menu-item
                          a.menu-link(href="") Региональные офисы
                        li.menu-item
                          a.menu-link(href="") Контакты для СМИ  
              .section-search
                img.close-search(src="assets/img/icons/close.png" alt='')
                input.search-input(type="text" placeholder="Поиск по сайту")
              
                
          

          
          






 



 


                      