/* Общие настройки элементов*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: $mainsize;
    font-family: $mainfont, Helvetica, sans-serif;
    min-width: 319px;
    color: $maincolor;
}

body {
    min-height: 320px;
    background-color: #ffffff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
address,
footer,
header,
menu,
nav,
section,
summary,
blockquote {
    display: flex;
}

img {
    width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a:active,
a:hover,
a:focus {
    outline: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}