/*Переменные*/


/*
*Шрифты
*/

$mainfont: 'akziRegular';
$contentfont: 'ptSerifBold';

/*
* Размер шрифтов
*/

$slidersize: 60px;
$articsize: 36px;
$titlesize: 24px;
$moresize: 18px;
$newssize: 16px;
$catsize: 14px;
$mainsize: 12px;

/* 
* Цвета
*/

$white: #ffffff;
$footercolor: #f0efed;
$bordercolor: #cdcdcd;
$titlehover:#767676;
$menucolor: #807d79;
$maincolor:#404040;
$activecolor:#d51900;
$hovercolor: #a61502;